doctype
html( lang="en" )
  head
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='' )
    meta( name='author', content='' )

    title FSE Login

    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')

block content
  body(id="main")
    .container-fluid
      .row
        div(class="container")
          .col-md-4
            form(class="form-signin", action="", onsubmit="javascript:myApp.userLogin();return false;")
              .form-group
                h2(class="form-signin-heading")
                  | Please sign in
                label(for="inputName", class="sr-only")
                  | Username
                input(type="text", id="uname", class="form-control", placeholder="Enter Username")
                label
                label
                button(class="btn btn-lg btn-default btn-block", type="submit")
                  | Sign in
          .col-md-4
          .col-md-4
    
    div(class="modal fade bd-example-modal-lg", tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel", aria-hidden="true", id="myModal")
      div(class="modal-dialog modal-lg")
        div(class="modal-content")
          div(class="modal-header")
            button(id = "logout", type="button", class="close", data-dismiss="modal", aria-label="Close") &times;
          div(class="modal-body")
            div#msg
          div(class="modal-footer")
            div(class="form-group")
              textarea(class="form-control", id="comment")
                | Typing ur comment:
              a.btn.btn-default(id="postbtn", href="javascript:myApp.uploadPost();") Send

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script( src="/socket.io/socket.io.js" )
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
    script( src='/javascripts/global.js')

